<div class="secondSection">
    <div class="wrapper">
        <div class="aboutCol">
        <div class="aboutCol__image">
            <img src="../img/secondSection.jpg" alt="#">
        </div>
        <div class="some-text">
            <div class="some-text__header">
                <h2>About US.</h2>
            </div>
            <div class="some-text__main">
                <p>Analytics release series A financing launch party interaction design android angel investor.
                Vesting period social media sales conversion launch party rockstar incubator customer social proof
                graphical user interface technology supply chain. Non-disclosure agreement rockstar creative partner
                network launch party social proof paradigm shift long tail influencer.<br><br>

                Monetization validation success. Seed round channels product
                management. Customer non-disclosure agreement strategy
                android growth hacking ramen buyer.</p>
            </div>
        </div>
        </div>
    </div>
</div>