<div class="firstSection">
    <div class="wrapper">
        <h1 class="firstSection__title">We design things with love and passion.</h1>
        <div class="firstSection__wrapBtn">
            <button class="customBtn red">Our Works</button>
        </div>
        <div class="boxes">
            <div class="boxes__box">
                <div class="boxes__img">
                    <img src="" alt="">
                </div>
                <p class="boxes__text">Fixed price projects</p>
            </div>
        </div>
    </div>
</div>