<div class="thirdSection">
    <div class="wrapper">
        <div class="focusMain">
            <h2>Our Focus.</h2>
            <p class="common">We understand your requirement and provide quality works.</p>
            <div class="focusCol">
                <div class="focusCol__item--col1 focusCol__item">
                    <div class="img_item">
                        <img src="../img/web.png" alt="#">
                    </div>
                    <h4>Web Design</h4>
                    <p>Analytics release series A financing launch party
                        interaction design android angel investor.</p>
                </div>
                <div class="focusCol__item--col2 focusCol__item">
                    <div class="img_item">
                        <img src="../img/ux.png" alt="#">
                    </div>
                    <h4>Web Design</h4>
                    <p>Analytics release series A financing launch party
                        interaction design android angel investor.</p>
                </div>
                <div class="focusCol__item--col3 focusCol__item">
                    <div class="img_item">
                        <img src="../img/foto.png" alt="#">
                    </div>
                    <h4>Web Design</h4>
                    <p>Analytics release series A financing launch party
                        interaction design android angel investor.</p>
                </div>
                <div class="focusCol__item--col4 focusCol__item">
                    <div class="img_item">
                        <img src="../img/app.png" alt="#">
                    </div>
                    <h4>Web Design</h4>
                    <p>Analytics release series A financing launch party
                        interaction design android angel investor.</p>
                </div>
            </div>
        </div>
    </div>
</div>