<div class="fourSection">
    <div class="wrapper">
        <div class="portfolioMain">
            <h2>Portfolio.</h2>
            <p>We understand your requirement and provide quality works.</p>
        <div class="portfolioBoxes">
            <div class="portfolioBoxes__box">
                <img src="../img/Single Item.jpg" alt="#">
            </div>
            <div class="portfolioBoxes__box">
                <img src="../img/item 2.jpg" alt="#">
            </div>
            <div class="portfolioBoxes__box">
                <img src="../img/item 3.jpg" alt="#">
            </div>
            <div class="portfolioBoxes__box">
                <img src="../img/item4.jpg" alt="#">
            </div>
            <div class="portfolioBoxes__box">
                <img src="../img/item5.jpg" alt="#">
            </div>
            <div class="portfolioBoxes__box">
                <img src="../img/item6.jpg" alt="#">
            </div>
            <div class="portfolioBoxes__box">
                <img src="../img/item7.jpg" alt="#">
            </div>
            <div class="portfolioBoxes__box">
                <img src="../img/item8.jpg" alt="#">
            </div>
            <div class="portfolioBoxes__box">
                <img src="../img/item9.jpg" alt="#">
            </div>
        </div>
        </div>
    </div>
</div>