<div class="workStepsSection">
    <div class="wrapper">
        <div class="workMain">
            <h2>Work Steps.</h2>
            <p>We understand your requirement and provide quality works.</p>
        <div class="workContent">
            <div class="workContent__img">
                <img src="../img/workSteps.jpg" alt="#">
                <img src="../img/workSteps.jpg" alt="#">
                <img src="../img/workSteps.jpg" alt="#">
                <img src="../img/workSteps.jpg" alt="#">
            </div>
        </div>
        </div>
    </div>
</div>